
}


body{
	background-colour:
	
}

.navBackground{
		background-color:#3db8b1;
		margin: 0auto
}

#container{
	background-color:#dce0dd;
	width: 1200px;
	margin: 0 auto;

}
.imageStyle{
	width: 1200px;
	height: 700px;

}
	
.footstyle{
	background-color:#3db8b1;
}



